.item{
    display:flex;
    flex-direction: row;
    margin-bottom:40px;
    align-items: center;
    justify-content: space-between;
    
    
}

.item input{
    margin-left:50px;
}

#main{
    
    width:400px;
}


